div.form {
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

div.form__selector {
  flex: 1 1;
  border: 1px solid red;
}

button.submit {
  cursor: pointer;

  display: block;
  width: 100%;

  color: #fff;
  background-color: #28a745;

  padding: 10px;
  font-size: 20px;
  border-radius: .25rem;
}